---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<homestead/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '.*'
    Priority: 3
SpacesBeforeTrailingComments: 2
ReflowComments: true
...
